<div class="card">
  <div class="properties">
    <img [src]="booking.images.length > 0 ? 'https://fzjqlxogwhycbjgrxtlo.supabase.co/storage/v1/object/public/trekangle-files/' + booking.images[0] : 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg'" alt="">
    <div class="property">
      <span class="title">Name</span>
      <h2>{{ booking.name }}</h2>
    </div>
    <div class="property">
      <span class="title">Price</span>
      <h2>${{ booking.price }}</h2>
    </div>
    <div class="property">
      <span class="title">Location</span>
      <h2>{{ booking.place }}</h2>
    </div>
    <div class="property">
      <span class="title">User</span>
      <h2>{{ booking.user.userName }}</h2>
    </div>
  </div>
</div>
