<div class="card">
  <div class="properties">
    <img
      src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
      alt=""
    />
    <div class="property">
      <span class="title">Name</span>
      <h2>{{ booking.name }}</h2>
    </div>
    <div class="property">
      <span class="title">Price</span>
      <h2>${{ booking.price }}</h2>
    </div>
    <div class="property">
      <span class="title">Location</span>
      <h2>{{ booking.place }}</h2>
    </div>
  </div>
  <div class="actions">
    <button class="edit">Edit</button>
    <button class="delete">Delete</button>
  </div>
</div>
