<div class="main-wrapper">
    <div class="sidebar">
        <nav>
            <div>
                <img class="logo" src="/img/Logo_completo_BIT_project__horizontal.svg" alt="logo">
                <ul>
                    <li [routerLink]="'/'"><a class="admin_options--1">Users</a></li>
                    <li><a class="admin_options--2">Experiences</a></li>
                    <li [routerLink]="'/bookings'"><a class="admin_options--3">Bookings</a></li>
                </ul>
            </div>
            <button class="checkout" (click)="logOut()">Logout</button>
        </nav>
    </div>
    <main>
        <div class="header__container">
            <h1>Experiences list</h1>
            <button (click)="toggleCreateOverlay()">Add new</button>
        </div>
        <div class="card-list">

            @for(experience of experiences(); track experience._id){
                <app-experience [experience]="experience"/>
            }
        </div>
    </main>
</div>


<!-- Create user Overlay -->

<div *ngIf="showCreateOverlay()" class="overlay-background" (click)="toggleCreateOverlay()"></div>

<section *ngIf="showCreateOverlay()" class="create-overlay">

  <h2 class="create-overlay__title">Create Experience</h2>

  <form class="create-overlay__form" (ngSubmit)="onSubmit($event)" [formGroup]="createExperienceForm" enctype="multipart/form-data"> 


    <div class="create-overlay__form-row">
      <label for="name">Name:</label>
      <input formControlName="name" type="text" id="name" name="name" placeholder="Name" />
    </div>

    <div class="create-overlay__form-row">
      <label for="place">Location:</label>
      <input formControlName="place" type="text" id="place" name="place" placeholder="Location" />
    </div>

    <div class="create-overlay__form-row">
      <label for="price">Price:</label>
      <input formControlName="price" type="text" id="price" name="price" placeholder="Price" />
    </div>

    <div class="create-overlay__form-row">
      <label for="description">Description:</label>
      <textarea formControlName="description" type="text" id="description" name="description" placeholder="Description" ></textarea>
    </div>

    <div class="create-overlay__form-row">
        <label for="images">Images:</label>
        <input formControlName="images" (change)="onFileChange($event)" type="file" id="images" name="images" placeholder="Images" multiple (change)="onFileChange($event)"/>
      </div>

    <div *ngIf="errorMessage" class="error__message">{{ errorMessage }}</div>

    <div class="create-overlay__buttons">
      <button class="create-overlay__button" type="submit" (click)="toggleCreateOverlay()" >Cancel</button>
      <button class="create-overlay__button" type="submit">Create</button>
    </div>

  </form>

</section>

<!-- Success notification -->

<div class="notification" *ngIf="activeNotification()">
    <div class="notification__body">
        <img src="/img/check-circle.svg" alt="Success" class="notification__icon">
        <p>the experience has been created</p>
    </div>
    <div class="notification__progress"></div>
</div>