
.main-wrapper {
    display: grid;
    grid-template-columns: .22fr 2fr;
    font-family: var(--arvo-subtitle-font);
}

.sidebar {
    height: 100vh;
    padding: 1rem;
    position: relative;
    background-image: url("../../../../public/img/navbar_png.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-right: 3px solid black;
}

.sidebar nav {
    width: calc(200px - 2rem);
    height: calc(100vh - 2rem);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar nav .logo {
    width: 100%;
    text-decoration: none;
    scale: 1.2;
    margin-bottom: .5rem;
}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
    margin-top: .5rem;
}

.sidebar nav ul a {
    width: 95%;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    color: white;
    cursor: pointer;
}

.sidebar nav ul .admin__options--1 {
    color: rgb(0, 0, 0);
    background-color: var(--white-bg);
}

.sidebar nav ul a:before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("/grid.svg");
    background-size: 100%;
    margin-right: 0.4rem;
    opacity: 0.4;
}

.sidebar nav ul a:hover {
    color: rgb(0, 0, 0);
    background-color: var(--white-bg);
}

.sidebar nav .checkout {
    width: 92%;
    display: block;
    padding: 0.7rem 1rem;
    border: 2px solid black;
    border-radius: 0.2rem;
    background-color: rgb(255, 44, 44);
    color: rgb(253, 213, 213);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    text-align: center;
}

.sidebar nav .checkout:hover {
    color: white;
    background-color: red;
}

main {
    padding-left: 5rem;
    margin-left: 2rem;
    background-image: url("../../../../public/img/main_bg.png");
    padding: 1.5rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.header__container button {
    padding: 0.7rem 1rem;
    border: 2px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    text-align: center;
    background-color: var(--main-green);
    color: white;
    min-width: 10rem;
}

.header__container button:hover {
    background-color: rgb(10, 160, 10);
}

main .card-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

h1 {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    font-weight: 700;
}