<div class="main-wrapper">
    <div class="sidebar">
        <nav>
            <div>
                <img class="logo" src="/img/Logo_completo_BIT_project__horizontal.svg" alt="logo">
                <ul>
                    <li><a class="admin__options--1" href="">Users</a></li>
                    <li><a class="admin__options--2" href="">Experiences</a></li>
                    <li><a class="admin__options--3" href="">Bookings</a></li>
                </ul>
            </div>
            <button class="checkout">Logout</button>
        </nav>
    </div>
    <main>
        <div class="header__container">
            <h1>Product list</h1>
            <button>Add new</button>
        </div>
        <div class="card-list">
            <app-card/>
            <app-card/>
        </div>
    </main>
</div>