<div class="card">
    <div class="properties">
        <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
        <div class="property">
            <span class="title">Name</span>
            <h2>{{user.name}}</h2>
        </div>
        <div class="property">
            <span class="title">Username</span>
            <h2>{{user.userName}}</h2>
        </div>
        <div class="property">
            <span class="title">email</span>
            <h2>{{user.email}}</h2>
        </div>
        
    </div>
    <div class="actions">
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </div>
</div>