<div class="card">
    <div class="properties">
        <img [src]="user.profileImage ? 'https://squctahczjhynshgqbyv.supabase.co/storage/v1/object/public/trekangle-files/' + user.profileImage : 'https://www.svgrepo.com/show/508699/landscape-placeholder.svg'" alt="">
        <div class="property">
            <span class="title">Name</span>
            <h2>{{user.name}}</h2>
        </div>
        <div class="property">
            <span class="title">Username</span>
            <h2>{{user.userName}}</h2>
        </div>
        <div class="property">
            <span class="title">email</span>
            <h2>{{user.email}}</h2>
        </div>

    </div>
    <div class="actions">
        <button class="edit" (click)="toggleEditOverlay()">Edit</button>
        <button class="delete" (click)="deleteUser()">Delete</button>
    </div>
</div>

<!-- Edit user Overlay -->

<div *ngIf="showEditOverlay()" class="overlay-background" (click)="toggleEditOverlay()"></div>

<section *ngIf="showEditOverlay()" class="edit-overlay">

    <h2 class="edit-overlay__title">Edit User</h2>

    <form class="edit-overlay__form" (ngSubmit)="onEditSubmit($event)" [formGroup]="editForm">

        <div class="edit-overlay__form-row">
            <label for="name">Name:</label>
            <input formControlName="name" type="text" id="name" name="name" [placeholder]="user.name" />
        </div>

        <div class="edit-overlay__form-row">
            <label for="userName">Username:</label>
            <input formControlName="userName" type="text" id="userName" name="userName" [placeholder]="user.userName" />
        </div>

        <div class="edit-overlay__form-row">
            <label for="email">Email:</label>
            <input formControlName="email" type="email" id="email" name="email" [placeholder]="user.email" />
        </div>

        <div class="edit-overlay__form-row password-field">
            <label for="password">Password:</label>
            <input formControlName="password" [type]="viewPassword() ? 'text' : 'password'" id="password" name="password" placeholder="********" />
            <img class="password__icons show-password" (click)="togglePassword()" *ngIf="viewPassword()"
              src="/img/show-password.svg" alt="show password icon">
            <img class="password__icons" (click)="togglePassword()" *ngIf="!viewPassword()" src="/img/hide-password.svg"
              alt="hide password icon">
        </div>

        <div *ngIf="errorMessage" class="error__message">{{ errorMessage }}</div>

        <div class="edit-overlay__buttons">
            <button class="edit-overlay__button" (click)="toggleEditOverlay()">Cancel</button>
            <button class="edit-overlay__button" type="submit">Save</button>
        </div>

    </form>

</section>

<app-notification [title]="'The user was successfully updated.'" *ngIf="activeEditNotification()"/>

<app-notification [title]="'The user was successfully deleted.'" *ngIf="activeDeleteNotification()"/>
