<div class="card">
    <div class="properties">
        <img [src]="'http://localhost:3000/uploads/' + experience.images[0]" alt="">
        <div class="property">
            <span class="title">Product name</span>
            <h2>{{experience.name}}</h2>
        </div>

        <div class="property">
            <span class="title">Price</span>
            <h2>${{experience.price}}</h2>
        </div>

        <div class="property">
            <span class="title">Location</span>
            <h2>{{experience.place}}</h2>
        </div>

    </div>
    <div class="actions">
        <button (click)="toggleEditExperienceOverlay()" class="edit">Edit</button>
        <button (click)="deleteExperience()" class="delete">Delete</button>
    </div>
</div>

<div *ngIf="showEditExperienceOverlay()" class="overlay-background" (click)="toggleEditExperienceOverlay()"></div>

<section *ngIf="showEditExperienceOverlay()" class="edit-overlay">

    <h2 class="edit-overlay__title">Edit Experience</h2>

    <form class="edit-overlay__form" (ngSubmit)="onEditSubmit($event)" [formGroup]="editForm" enctype="multipart/form-data">

        <div class="edit-overlay__form-row">
            <label for="name">Name:</label>
            <input formControlName="name" type="text" id="name" name="name" [placeholder]="experience.name" />
        </div>

        <div class="edit-overlay__form-row">
            <label for="place">Place:</label>
            <input formControlName="place" type="text" id="place" name="place" [placeholder]="experience.place" />
        </div>

        <div class="edit-overlay__form-row">
            <label for="price">Price:</label>
            <input formControlName="price" type="text" id="price" name="price" [placeholder]="experience.price" />
        </div>

        <div class="edit-overlay__form-row">
            <label for="description">Description:</label>
            <textarea formControlName="description" type="text" id="description" name="description" placeholder="Description"></textarea> 
        </div>

        <div class="edit-overlay__form-row">
            <label for="images">Images:</label>
            <input formControlName="images" (change)="onFileChange($event)" type="file" id="images" name="images" placeholder="Images" multiple/>
        </div>

        <div *ngIf="errorMessage" class="error__message">{{ errorMessage }}</div>

        <div class="edit-overlay__buttons">
            <button class="edit-overlay__button" (click)="toggleEditExperienceOverlay()">Cancel</button>
            <button class="edit-overlay__button" type="submit">Create</button>
        </div>

    </form>

</section>

<app-notification [title]="'The experience was successfully updated.'" *ngIf="activeEditExperienceNotification()"/>

<app-notification [title]="'The experience was successfully deleted.'" *ngIf="activeDeleteExperienceNotification()"/>
