<div class="main-wrapper">
    <div class="sidebar">
        <nav>
            <div>
                <a href="" class="logo">Logo</a>
                <ul>
                    <li><a href="">Products</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">Orders</a></li>
                </ul>
            </div>
            <button class="checkout">Logout</button>
        </nav>
    </div>
    <main>
        <h1>Product list</h1>
        <div class="card-list">
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
            <div class="card">
                <div class="properties">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="">
                    <div class="property">
                        <span class="title">Product name</span>
                        <h2>Selección Colombia 24</h2>
                    </div>
                    <div class="property">
                        <span class="title">Price</span>
                        <h2>$ 350000</h2>
                    </div>
                    <div class="property">
                        <span class="title">Category</span>
                        <h2>Fútbol</h2>
                    </div>
                </div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                </div>
            </div>
        </div>
    </main>
</div>