<div class="main-wrapper">
  <div class="sidebar">
    <nav>
      <div>
        <img
          class="logo"
          src="/img/Logo_completo_BIT_project__horizontal.svg"
          alt="logo"
        />
        <ul>
          <li [routerLink]="'/'">
            <a class="admin_options--1">Users</a>
          </li>
          <li [routerLink]="'/experiences'">
            <a class="admin_options--2">Experiences</a>
          </li>
          <li><a class="admin_options--3">Bookings</a></li>
        </ul>
      </div>
      <button class="checkout">Logout</button>
    </nav>
  </div>
  <main>
    <div class="header__container">
      <h1>Product list</h1>
    </div>
    <div class="card-list">
      @for (booking of bookings; track booking._id ){
      <app-booking-card [booking]="booking" />
      }
    </div>
  </main>
</div>
